@use "../../../../partials/colors" as *;

header {
  background: $background;
  .section-content {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 130rem;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    .nav-menu {
      display: flex;
      gap: 1rem;
      .nav-item {
        color: $black;
      }
      .nav-link {
        padding: 0.4rem;
        border-radius: 0.7rem;
        transition: 0.3s ease;
        &:hover {
          color: $white;
          background: $primary;
        }
      }
    }
  }
}
